name: Build app

on:
  push:
    branches: [master, main]
  pull_request:
    branches: [master, main]

jobs:
  build-android:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun install

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Android Files
        run: bunx expo prebuild --bun

      - name: Build Android
        working-directory: ./android
        run: ./gradlew assembleRelease
